@import "base/mixins";
@import "base/variables";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    text-align: center;
}
.container-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgba(235, 235, 235, 0.938);
}
.wrapper {
    width: 360px;
    min-height: 250px;
    border: 1px solid black;
    margin: 5px;
    padding: 20px;
    background: rgba(250, 255, 255, 0.856);
}


.display-block-flex {
    display: flex;
}
.hidden {
    display: none;
}

.display-none {
    display: none;
}

@import "blocks/darkModeToggle";
@import "blocks/imageSlider";
@import "blocks/blurredbackgrPopup";
@import "blocks/buttonRippleEffect";
@import "blocks/doubleLanding";
@import "blocks/selectorMenu";
@import "blocks/sliderRotate";
@import "blocks/preloader";
@import "blocks/mousePosition";
@import "blocks/calender";
@import "blocks/clockAnalog";
@import "blocks/greenBlock";
@import "blocks/dateOfBirth";
@import "blocks/counDownTimer";
@import "blocks/multiMenu";
@import "blocks/dropdownListJS";
@import "blocks/selectCustom";
@import "blocks/checkboxCustom";
@import "blocks/radioButton";
@import "blocks/slider";
@import "blocks/faq";
@import "blocks/modal";
@import "blocks/media";
