@import 'base/mixins';
@import 'base/variables';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


.container {
    width: 1140px;
    margin: 0 auto;
    background: linear-gradient(45deg, rgb(146, 255, 174),rgb(252, 255, 83));
}


@import 'blocks/counDownTimer';
@import 'blocks/multiMenu';
@import 'blocks/dropdownListJS';
@import 'blocks/selectCustom';
@import 'blocks/checkboxCustom';
@import 'blocks/radioButton';
@import 'blocks/slider';
@import 'blocks/faq';
@import 'blocks/main';

@import 'blocks/media';
