.double-landing-page-container {
    @include displayFlex;
	height: 200px;
	position: relative;
	
}
.double-landing-page-container h4 {
	margin-top: 10px;
	font-size: 32px;
	font-weight: bold;
	color: aliceblue;
	backdrop-filter: brightness(0.5);
	letter-spacing: 2px;
	
}
.split {
    width: 50%;
	top: 0;
	height: 200px;
	overflow: hidden;
}

.split.left {
	position: absolute;
	left: 0;
	background: lightcoral;
	background-image: url('./../img/iphone.png');
	background-position: -20px 50px;
    background-repeat: no-repeat;
    background-size: cover;
}
.split.right {
	position: absolute;
	right: 0;
	background: lightblue;
	background-image: url('./../img/sumsung.png');
	background-position: -21px 85px;
	background-repeat: no-repeat;
	background-size: cover;
}

.double-landing-page-btn{
	background-color: rgb(167, 167, 167);
	color: white;
	padding: 5px;
	border: 1px solid;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.5s background-color;
	line-height: 1;
}
.double-landing-page-btn:hover{
	background-color: rgb(216, 216, 216);
	box-shadow: 2px 2px 4px gray;
}

.active-left .left, .active-right .right{
width: 70%;
}
.active-left .right, .active-right .left{
width: 30%;
}

.left, .right {
	transition: width 1s ease-in-out;
}