@media (min-width: 855px) {
    .main {
        background: rgb(179, 179, 179);
        grid-template: auto / auto auto;
    }
}
@media (min-width: 1280px) {
    .main {
        background: rgb(179, 179, 179);
        grid-template: auto / auto auto auto;
    }
}
@media (min-width: 1720px) {
    .main {
        background: rgb(97, 90, 90);
        grid-template: auto / auto auto auto auto;
    }
}
